<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>basicServlet</servlet-name>
        <servlet-class>desk.classes.basicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>desk.classes.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rest</servlet-name>
        <servlet-class>desk.classes.RestApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>desk.classes.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTransactionServlet</servlet-name>
        <servlet-class>desk.classes.AddTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseManager</servlet-name>
        <servlet-class>desk.classes.ExpenseManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>todoservlet</servlet-name>
        <servlet-class>desk.classes.todoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtodoservlet</servlet-name>
        <servlet-class>desk.classes.addtodoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTransactionServlet</servlet-name>
        <servlet-class>desk.classes.viewTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteArticleServlet</servlet-name>
        <servlet-class>desk.classes.WriteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentArticlesServlet</servlet-name>
        <servlet-class>desk.classes.RecentArticlesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizQuestionServlet</servlet-name>
        <servlet-class>desk.classes.QuizQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizIntroServlet</servlet-name>
        <servlet-class>desk.classes.QuizIntroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incrservlet</servlet-name>
        <servlet-class>desk.classes.incrservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>previousquestion</servlet-name>
        <servlet-class>desk.classes.previousquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lcheck</servlet-name>
        <servlet-class>desk.classes.lcheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>basicServlet</servlet-name>
        <url-pattern>/checkConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rest</servlet-name>
        <url-pattern>/Rest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTransactionServlet</servlet-name>
        <url-pattern>/AddTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseManager</servlet-name>
        <url-pattern>/ExpenseManager</url-pattern>
        <url-pattern>/ExpenseManage.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>todoservlet</servlet-name>
        <url-pattern>/todo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtodoservlet</servlet-name>
        <url-pattern>/addtodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTransactionServlet</servlet-name>
        <url-pattern>/Transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteArticleServlet</servlet-name>
        <url-pattern>/WriteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentArticlesServlet</servlet-name>
        <url-pattern>/RecentArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizQuestionServlet</servlet-name>
        <url-pattern>/QuizQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incrservlet</servlet-name>
        <url-pattern>/nextquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>previousquestion</servlet-name>
        <url-pattern>/previousquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizIntroServlet</servlet-name>
        <url-pattern>/Instructions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lcheck</servlet-name>
        <url-pattern>/lcheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>silder.html</welcome-file>
    </welcome-file-list>
</web-app>
